[general]
infrastructure={{ host_info_infrastructure | default('none') }}
environment={{ host_info_environment | default('none') }}
hostgroup={{ host_info_hostgroup | default('none') }}
subgroup={{ host_info_subgroup | default('none') }}
role={{ host_info_role | default('none') }}
instance={{ host_info_instance | default('none') }}
